name: CICD Pipeline

on:
  push:
    branches:
      - '**'
  workflow_dispatch:
    inputs:
      stage:
        description: "Select promotion stage"
        required: true
        type: choice
        options:
          - test
          - prod

env:
  IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/nexora-backend

jobs:

  #  # 1️⃣ LINT
  #  lint:
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - run: npm install
  #      - run: npm run lint:check
  #
  #  # 2️⃣ TEST
  #  test:
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - run: npm install
  #      - run: npm test:coverage

  # 3️⃣ BUILD ARTIFACT
  build:
    #    needs: [lint, test]
    runs-on: ubuntu-latest

    outputs:
      sha: ${{ steps.meta.outputs.sha }}

    steps:
      - uses: actions/checkout@v4

      - name: Set SHA
        id: meta
        run: echo "sha=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: zulu

      - uses: gradle/gradle-build-action@v2
        with:
          gradle-version: '8.10'
          arguments: build --no-daemon

      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/arm64,linux/amd64
          push: true
          tags: ${{ env.IMAGE_NAME }}:${{ steps.meta.outputs.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  # 4️⃣ AUTO DEPLOY DEV (if develop branch)
  dev:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Promote → DEV
        run: |
          docker buildx imagetools create \
          -t $IMAGE_NAME:dev \
          $IMAGE_NAME:${{ needs.build.outputs.sha }}

  test:
    needs: [dev, build]
    if: github.event_name == 'workflow_dispatch' && (github.event.inputs.stage == 'test' || github.event.inputs.stage == 'prod')
    runs-on: ubuntu-latest

    steps:
      - name: Login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Promote → TEST
        run: |
          docker buildx imagetools create \
            -t $IMAGE_NAME:test \
            $IMAGE_NAME:${{ needs.build.outputs.sha }}

  prod:
    needs: [test, build]
    if: github.event_name == 'workflow_dispatch' && github.event.inputs.stage == 'prod'
    runs-on: ubuntu-latest

    steps:
      - name: Login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Promote → PROD
        run: |
          docker buildx imagetools create \
            -t $IMAGE_NAME:prod \
            $IMAGE_NAME:${{ needs.build.outputs.sha }}